.password-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.password-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

label {
  color: #fff;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
}

button img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

button span {
  font-size: 16px;
}

input[type="password"],
input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 12px;
  outline: none;
  background: none;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

img {
  color: #fff;
}
