<div class="password-container">
  <div class="password-labels">
    <label for="password">Password</label>
    <button type="button" (click)="togglePasswordVisibility()">
      <img
        *ngIf="passwordFieldType === 'password'"
        src="assets/eye-show.svg"
        alt="Show Password"
      />
      <img
        *ngIf="passwordFieldType === 'text'"
        src="assets/eye-off.svg"
        alt="Hide Password"
      />
      <span>{{ passwordFieldType === "password" ? "Show" : "Hide" }}</span>
    </button>
  </div>
  <input [type]="passwordFieldType" id="password" [(ngModel)]="password" />
</div>
